<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- 1.定义常量 -->
    <!-- 日志存储路径 -->
    <property name="LOG_HOME" value="/Users/jinglun/Desktop/logs" />
    <!-- logback中括号有特殊含义，\\) 才能输出 ) -->
    <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%X{traceId}][%thread] %-5level (%file:%line\\) - %msg%n" />

    <!-- 2.定义不同appender -->
    <!-- 控制台日志 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>
    <!-- 文件日志 -->
    <appender name="SYS" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 日志文件输出的文件名 -->
            <FileNamePattern>${LOG_HOME}/code-generator-sys-%d{yyyy-MM-dd}.log</FileNamePattern>
            <!-- 日志文件保留天数 -->
            <MaxHistory>30</MaxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <!--日志文件最大的大小-->
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>10MB</MaxFileSize>
        </triggeringPolicy>
    </appender>
    <appender name="SYS_ERR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 日志文件输出的文件名 -->
            <FileNamePattern>${LOG_HOME}/code-generator-err-%d{yyyy-MM-dd}.log</FileNamePattern>
            <!-- 日志文件保留天数 -->
            <MaxHistory>30</MaxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <!--日志文件最大的大小-->
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>10MB</MaxFileSize>
        </triggeringPolicy>
    </appender>

    <!-- 3.定义日志输出级别 -->
    <!-- 只在本地环境输出业务日志到控制台 -->
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
    <!-- 定义业务日志和错误日志的logger -->
    <logger name="sys" level="INFO">
        <appender-ref ref="SYS" />
    </logger>
    <logger name="sys-error" level="ERROR">
        <appender-ref ref="SYS_ERR" />
    </logger>
    <logger name="access" level="INFO">
        <appender-ref ref="ACCESS" />
    </logger>

</configuration>